@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

main {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 635px;
    background: white;
    border-radius: 10px;
}

.presentation,
.subscription,
.apprenticeship {
    padding: 45px 0 45px 40px;
    display: grid;
    grid-template-rows: 43px 35px 45px 35px;
}

.presentation {
    width: 100%;

}

.presentation-title {
    font-weight: 700;
    font-size: 18px;
    color: hsl(179, 62%, 43%);
}


.paragraph-title,
.title-subscription,
.apprenticeship-title {
    font-weight: 700;
    font-size: 15px;
}

.paragraph-title {
    color: hsl(71, 73%, 54%);

}

.about-product,
.plan-value,
.plan-description,
.metrics {
    font-weight: 400;
    font-size: 12px;
}

.about-product {
    color: hsl(218, 22%, 67%);
    width: 420px;

}

.subscription {
    width: 43.63%;
    color: white;
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 10px;
}

.plan-value span {
    font-size: 30px;
    color: white;
}

.plan-value {
    color: hsl(217, 18%, 83%);
}

.sign {
    width: 235px;
    height: 50px;
    border-radius: 10px;
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sign:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.apprenticeship {
    background: hsla(179, 53%, 48%, 0.962);
    width: 43.774%;
    border-radius: 0 0 10px 0;
    color:white;
}
.metrics{
  
    width:170px;
}
@media (max-width:644px){
    body{
        padding:15px;
    }
    main{
        place-self: center;
        display: flex;
        flex-direction: column;
        max-width:285px;
    }
    .apprenticeship,.subscription,.presentation{
        width:100%;
        
        padding:25px 0 35px 25px;
    }
    .presentation{
        background: white;
        height:205px;
        gap:15px;
        border-radius:20px 20px 0 0;
    }
    .apprenticeship,.subscription{
       height: 170px;
       
    }
    .apprenticeship{
        border-radius: 0 0 20px 20px;
    }
    .subscription{
        border-radius:0;
    }
    .paragraph-title, .about-product{
    
        width:265px;
    }
    .sign{
        margin-left: 10px;
    }
    
}