@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 635px;
    background: white;
    border-radius: 10px;
}

.presentation,
.subscription,
.apprenticeship {
    padding: 45px 0 45px 40px;
    display: grid;
    grid-template-rows: 43px 35px 45px;
}

.presentation {
    width: 100%;

}

.presentation-title {
    font-weight: 700;
    font-size: 18px;
    color: hsl(179, 62%, 43%);
}


.paragraph-title,
.title-subscription,
.apprenticeship-title {
    font-weight: 700;
    font-size: 15px;
}

.paragraph-title {
    color: hsl(71, 73%, 54%);

}

.about-product,
.plan-value,
.plan-description,
.metrics {
    font-weight: 400;
    font-size: 12px;
}

.about-product {
    color: hsl(218, 22%, 67%);
    width: 420px;

}

.subscription {
    width: 50%;
    border: 2px solid red;
    color: white;
    background-color: hsl(179, 62%, 43%);
}

.plan-value span {
    font-size: 30px;
}

.plan-value {}

.sign {
    width: 235px;
    height: 50px;
    border-radius: 10px;
    background-color: hsl(71, 73%, 54%);
    border: none;
    margin-left: 20px;
    color: white;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease, height 0.3s ease;
}

.sign:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}